@inherits InputText

<div class="w-full">
    <label for="@Id" class="@(ShowLabel ? "inline-block text-sm text-gray-900 dark:text-white mb-2" : "sr-only")">@Label</label>
    <input value="@CurrentValue"
           @attributes="@AdditionalAttributes"
           id="@Id"
           class="block w-full rounded-md border-0 px-3 py-1.5 text-gray-900 dark:text-white shadow-sm ring-1 ring-inset ring-gray-400 placeholder:text-gray-400 sm:text-sm sm:leading-6 dark:text-gray-600 dark:bg-gray-800 dark:ring-gray-700"
           placeholder="@Placeholder"
           @oninput="EventCallback.Factory.CreateBinder<string>(this, __value => CurrentValueAsString = __value, CurrentValueAsString)" />
</div>

@code {
    private Guid Id = Guid.NewGuid();

    [Parameter]
    public bool ShowLabel { get; set; } = false;

    [Parameter, EditorRequired]
    public string Label { get; set; } = "";

    [Parameter]
    public string? Placeholder { get; set; }
}

